
.Rproj.user/52B9D855/pcs/debug-breakpoints.pper
.Rproj.user/52B9D855/pcs/files-pane.pper
.Rproj.user/52B9D855/pcs/packages-pane.pper
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/pcs/windowlayoutstate.pper
.Rproj.user/52B9D855/pcs/workbench-pane.pper
.Rproj.user/52B9D855/rmd-outputs
.Rproj.user/52B9D855/saved_source_markers
.Rproj.user/52B9D855/sources/prop/0BF30C96
.Rproj.user/52B9D855/sources/prop/7FED22F1
.Rproj.user/52B9D855/sources/prop/81D96EDA
.Rproj.user/52B9D855/sources/prop/8AABECD6
.Rproj.user/52B9D855/sources/prop/B49D89A0
.Rproj.user/52B9D855/sources/prop/B4BFB656
.Rproj.user/52B9D855/sources/prop/FD9555F5
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c0jp6umo2w515/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000011.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000012.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000012.png
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000012.snapshot
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000013.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000014.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000014.png
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c2080vav158y8/000014.snapshot
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c4sju60nr9fh1/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c4sju60nr9fh1/000010.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c4sju60nr9fh1/000010.png
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c4sju60nr9fh1/000010.snapshot
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c5pi0pe54ssyk/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c5pi0pe54ssyk/000010.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c5pi0pe54ssyk/000010.png
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c5pi0pe54ssyk/000010.snapshot
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c8v4dwv9s0g5j/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c8v4dwv9s0g5j/000010.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c8v4dwv9s0g5j/000010.png
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c8v4dwv9s0g5j/000010.snapshot
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/c9c32r3r8wcq6/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cbyd0cl4pertq/000011.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cc5z0e1jolnn5/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/chunks.json
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cp6nsbjgrna1h/000011.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cp6nsbjgrna1h/000012.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cp6nsbjgrna1h/000012.rdf
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cp6nsbjgrna1h/000013.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cp6nsbjgrna1h/000014.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cp6nsbjgrna1h/000014.png
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cp6nsbjgrna1h/000014.snapshot
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cq47cjin0m2yv/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cqlijbgq9nyta/00001d.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cwku0ci498cbv/000013.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cwku0ci498cbv/000014.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cwku0ci498cbv/000014.rdf
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cwku0ci498cbv/000015.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cyy9mnt0b5hu3/00000f.csv
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cyy9mnt0b5hu3/000010.metadata
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cyy9mnt0b5hu3/000010.rdf
.Rproj.user/shared/notebooks/D7712885-codigo/1/s/cyy9mnt0b5hu3/000011.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.DS_Store
.Rhistory
codigo.qmd
~$paquetes Demografía.pptx
